/*  your css code here. If applicable */
.container{
	width:150px;
	height:70px;
	border:2px solid black;
	background:#D3D2D3;
	border-radius:25%
	
	
}
.red{
	width:30px;
	height:30px;
	
	
	border-radius:50%;
	margin:15px;
	background:rgb(0,128,0);

}
.green{
	width:30px;
	height:30px;
	
	
	border-radius:50%;
	
	margin-left:55px;
	margin-top:-47.1px;
	background:rgb(255,255,0);

}
.yellow{
	width:30px;
	height:30px;
	
	
	border-radius:50%;
	
	margin-left:95px;
	margin-top:-31px;
	background:rgb(255,0,0);

}